/* ---------------------------
   Premium Typografi – Globalt
---------------------------- */

/* Brödtext */
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 1rem;
    line-height: 1.65;
    font-weight: 300;
    color: var(--text-main);
}

/* Rubriker */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', Georgia, serif;

    font-weight: 600;
    line-height: 1.25;
}

h1 {
    color: var(--color-theme3);
}
