@media (max-width: 800px) {
  .menu-toggle {
    display: block;
    /* Show hamburger button on smaller screens */
  }

  .navlinks {
    display: none;
    /* Hide links by default */
    flex-direction: column;
    /* Stack links vertically */
    position: absolute;
    /* Position relative to navbar */
    top: 10px;
    /* Place below hamburger button */
    right: 40px;
    /* Right aligned */
    background-color: var(--color-theme3);
    width: 150px;
    padding: 10px;
    z-index: 100;
  }

  /* Show menu when 'show' class is added by JS */
  .navlinks.show {
    display: flex;
  }
}

/* Hero */

@media (max-width: 900px) {
    .hero {
        padding: 80px 0 90px;
        text-align: center;
    }

    .hero-inner {
        flex-direction: column;
        gap: 30px;
    }

    .hero-lead {
        margin-left: auto;
        margin-right: auto;
    }

    .hero-actions {
        justify-content: center;
    }

    .hero-card {
        max-width: 100%;
    }
    .cards-3 {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 2rem;
    }
    .hero {
        padding: 60px 0 70px;
    }


}

