@import url("variables.css");
@import url("normalization.css");
@import url("fonts.css");
@import url("base.css");
@import url("navbar.css");
@import url("footer.css");
@import url("components.css");
@import url("responsive.css");
