:root {
    --color-theme1: #4ca1b0;
    --color-theme2: #09576d;
    --color-theme3: #0b3b53;

    --color-beige1: #F2E8D8; /* din ljusa, nuvarande */
    --color-beige2: #E2D8C8; /* lite mörkare */
    --color-beige3: #D2C8B8; /* tydlig kontrast */
    --color-beige4: #C2B8A8;
    --color-accent1: #D95F45;
    --color-accent2: #B04C4C;

    /* Layout */
    --container-width: 1100px;
    --radius-lg: 10px;

    /* Skuggor */
    --shadow-md: 0 10px 30px rgba(0, 0, 0, 0.15);
}
