:root {
    --color-theme1: #4ca1b0;
    --color-theme2: #09576d;
    --color-theme3: #0b3b53;
    --color-text-light1: #F2F2F2;
    --color-text-light2: #E6E6E6;
    --color-text-light3: #D9D9D9;
    --color-beige1: #F2E8D8;
    --color-primary: #09576d;
    --color-primary-dark: #064151;
    --text-main: #102028;

    /* Layout */
    --container-width: 1100px;
    --radius-lg: 10px;

    /* Skuggor */
    --shadow-md: 0 10px 30px rgba(0, 0, 0, 0.15);
}
