<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Nordavix{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block page_css %}{% endblock %}
</head>
<body>
    {% include 'navbar.html' %}

    <div class="page">
        {% block content %}{% endblock %}
    </div>

    {% include "footer.html" %}

    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
</body>
</html>
